:root {
  --background-body: #1a1a1e;
  --background: #141417;
  --background-alt: #1e1e22;
  --selection: #3a3a42;
  --text-main: #cbced5;
  --text-bright: #e7e8ec;
  --text-muted: #a0a6b2;
  --links: #7d9bc5;
  --focus: #a0a6b2ab;
  --border: #3a3d44;
  --code: #cbced5;
  --animation-duration: 0.0s;
  --button-base: #111114;
  --button-hover: #0a0a0d;
  --scrollbar-thumb: var(--button-hover);
  --scrollbar-thumb-hover: color-mod(var(--scrollbar-thumb) lightness(-30%));
  --form-placeholder: #6e7179;
  --form-text: #e7e8ec;
  --variable: #a6b2a0;
  --highlight: #3a3d44;
  --select-arrow: svg-load('./assets/select-arrow.svg', fill: #cbced5);
}